div{
    border: 1px solid black;
    background-color: beige;
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 5opx;
    padding-left: 80px; */

    padding: 25px 50px 75px 100px;

}